.sidebarChat
{
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f6f6f6;
  cursor: pointer;
  transition: .5s;
}

.sidebarChat:hover
{
  background-color: rgb(221, 221, 221);
  border-radius: 60px;
  padding: 20px;
  transition: .5s;
}

.sidebarChat__info > h2
{
  font-size: 16px;
  margin-bottom: 8px;
}

.sidebarChat__info
{
  margin: 0 7px;
}

.sidebarChat__avatar
{
  height: 50px !important ;
  width: 50px !important ;
}